@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To College Management System</h1>

    <br />
    <br />
    <br />
    <br />
    <h5> It is essential for every college to manage their teacher,  students and stuffs. </h5>
</div>
